<ion-header class="header-top">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-left>Terms & Conditions</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-icon name="search"></ion-icon>
      <ion-icon name="md-more"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="order-number">
    <h5>Términos y condiciones -USUARIOS</h5>

    <h5>PARTES</h5>

    <p>Este documento describe los términos y condiciones generales (en adelante, los “Términos y Condiciones”)
      aplicables al uso de la aplicación HORTOSABOR, (en adelante, la “Aplicación”) por parte de los Usuarios (conforme
      este término se define más abajo), una aplicación operada por MAGNIFRESH S.A. (“MAGNIFRESH”) en su carácter de
      licenciatario. Al hacer clic en el botón “aceptar” y/o instalar la Aplicación, usted acepta en forma irrevocable
      estar sujeto a estos Términos y Condiciones. El Usuario debe leer, entender y aceptar todas las condiciones
      establecidas en los Términos y Condiciones y en las Políticas de Privacidad. Si no está de acuerdo con la
      totalidad de estos Términos y Condiciones no utilice la Aplicación.
    </p>
    <h5>LA APLICACION</h5>

    <p>Por usuario se entiende a la persona jurídica y/o humana que descargue la Aplicación (en adelante, el “Usuario”).
    </p>

    <p>A los fines de la adquisición de los productos la Aplicación se encuentra dirigida exclusivamente a personas
      humanas residentes de la República Argentina.</p>

    <p>Las TIENDAS que ofrezcan sus productos pueden ser tanto personas humanas como personas jurídicas.</p>

    <p>MAGNIFRESH pone la Aplicación a disposición de los Usuarios, sin costo alguno, para la adquisición de productos
      que sean ofrecidos por las distintas tiendas adheridas a la Aplicación (en adelante, las “Tiendas”), permitiendo
      que de esa forma se unan los Usuarios y las Tiendas. MAGNIFRESH no realiza venta alguna a los Usuarios, siendo
      todas las transacciones concertadas directamente entre el Usuario y la Tienda respectiva. El acceso a la
      Aplicación es gratuito. Es requisito obligatorio para descargar y utilizar la Aplicación, la aceptación previa de
      los Términos y Condiciones, no pudiendo aducirse el desconocimiento de los mismos. Al aceptar estos Términos y
      Condiciones, los Usuarios declaran haberse informado de manera clara, comprensible e inequívoca de los mismos. Los
      Términos y Condiciones serán aplicados y se entenderán incorporados en todas las transacciones realizadas por los
      Usuarios con las Tiendas, mediante los sistemas de comercialización comprendidos en la Aplicación.</p>

    <h5>CAPACIDAD PARA CONTRATAR</h5>

    <p>La Aplicación está disponible sólo para aquellas personas jurídicas (únicamente para el caso de tiendas) y/o
      humanas que tengan capacidad legal para contratar, según lo dispuesto por la legislación argentina vigente. Si un
      Usuario no tiene capacidad legal para contratar, debe abstenerse de utilizar la Aplicación. En cualquier momento
      se podrá suspender, de forma temporal o definitiva, la participación de Usuarios respecto de los que se compruebe
      que carecen de capacidad legal para usar la Aplicación o cuando al registrarse brinden información que sea falsa,
      inexacta o fraudulenta. Si bien quienes no tengan capacidad para contratar deben abstenerse de efectuar compras a
      través de la Aplicación, en caso de hacerlo, se entiende que lo realizan a través de sus padres o tutores, siendo
      éstos plenamente responsables por sus actos. Los padres, tutores o responsables de los menores de edad o incapaces
      que utilicen la Aplicación serán responsables por dicho uso, incluyendo cualquier cargo, facturación o daño que se
      derive del mismo, y se entiende que aceptan los presentes Términos y Condiciones. En cumplimiento de las leyes N°
      24.788, de venta de bebidas alcohólicas, y N° 26.687, de venta de tabaco, la compra de bebidas alcohólicas y
      tabaco está restringida a mayores de 18 años, por lo que previo a la entrega, las Tiendas exigirán al Usuario la
      exhibición del documento de identidad a efectos de verificar la mayoría de edad.</p>

    <h5>REGISTRACIÓN</h5>

    <p>Para la descarga de la Aplicación el Usuario deberá contar con un equipo de telefonía móvil tipo smartphone con
      sistema operativo IOS o Android. Para el acceso y utilización de la Aplicación será necesario el registro del
      Usuario. A los efectos del registro del Usuario, se le solicitará que cree una cuenta debiendo ingresar en el
      Formulario de Registración (en adelante, el “Formulario de Registración”) la totalidad de los siguientes datos de
      carácter personal: Nombre y Apellido, Dirección de Entrega, fecha de nacimiento (en caso de corresponder),
      Dirección de correo electrónico (e-mail), y Teléfono (en adelante, los “Datos Personales”). El Usuario declara y
      garantiza la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados en el Formulario de
      Registración y asume el compromiso de mantener dichos Datos Personales actualizados. Si no lo hace, estará
      incurriendo en un incumplimiento de estos Términos y Condiciones, lo que podría dar lugar, entre otras cosas, a la
      rescisión inmediata de estos Términos y Condiciones y del uso de la Aplicación. MAGNIFRESH, HORTOSABOR y las
      Tiendas no serán responsables por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales
      ingresados por el Usuario. Toda cuenta es personal e intransferible. El Usuario es responsable de mantener la
      confidencialidad de su cuenta, nombre de usuario y contraseña, y acepta asumir la responsabilidad por todas las
      actividades que realicen en su cuenta. Al momento de su registración, el Usuario acepta recibir de MAGNIFRESH
      correos electrónicos con información sobre promociones y otros productos. El Usuario siempre podrá solicitar el
      cese de envío de los correos electrónicos, enviando un email a la siguiente dirección de correo electrónico
      “clientes@hortosabor.com.ar” o bien haciendo click en el botón de “Unsuscribe” al momento de recibir un correo.
    </p>

    <p>MAGNIFRESH se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración
      previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere
      algún derecho a indemnización o resarcimiento.</p>

    <h5>USO DE LA APLICACIÓN.</h5>

    <h5>PRECIOS Y PRODUCTOS INFORMADOS EN LA APLICACIÓN</h5>
    

    <h5>LISTADO DE PRODUCTOS PERMITIDOS:</h5>
    <p>Se debe definir cuáles son los productos que se pueden ofrecer por parte de las tiendas.</p>

    <p>MAGNIFRESH podrá modificar en cualquier momento cualquier información contenida en la Aplicación, incluyendo la
      relacionada con productos, precios, disponibilidad y condiciones, respetando las compras que han sido aceptadas
      hasta dicho momento, por lo que las modificaciones solo se referirán a operaciones futuras. Todos los precios en
      la Aplicación estarán expresados en pesos argentinos, moneda de curso legal de la República Argentina, e incluyen
      IVA, salvo que se indique lo contrario. La información sobre los productos y precios está sujeta a cambios sin
      previo aviso. Los envíos serán sin costo para el Usuario. Los productos se publicarán en la Aplicación y cada
      Usuario podrá realizar compras sujeto al cumplimiento de los montos mínimos de compra y/o máximo en caso de
      aplicar alguna promoción. Se deja expresamente establecido que en caso de no poder procesar el pago por factores
      no imputables a la Aplicación, se dará por anulada la compra. Todas las promociones que se publiquen en la
      Aplicación se regirán por sus respectivas bases y condiciones, las que se encontrarán disponibles en la Aplicación
      y deberán ser leídas y aceptadas por el Usuario.</p>

    <p>HORTOSABOR podrá remover cualquier publicación cuyo precio no sea expresado de esta forma para evitar confusiones
      o malos entendidos en cuanto al precio final del producto. Se deja expresamente establecido que ninguna
      descripción podrá contener datos personales o de contacto, tales como, y sin limitarse a, números telefónicos,
      dirección de e-mail, dirección postal, direcciones de páginas de Internet que contengan datos como los mencionados
      anteriormente.</p>


    <p>LA TIENDA deberá ofrecer a la venta los bienes en las categorías y subcategorías apropiadas. Las publicaciones
      podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para la
      venta del bien. Sin perjuicio de lo expuesto, las fotografías que puedan incluirse serán al solo efecto
      ilustrativa. El producto ofrecido por LA TIENDA debe ser exactamente descrito en cuanto a sus condiciones y
      características relevantes. Se entiende y presume que mediante la inclusión del bien o servicio en HORTOSABOR, LA
      TIENDA acepta que tiene la intención y el derecho de vender el bien ofrecido, o está facultado para ello por su
      titular y lo tiene disponible para su entrega inmediata.</p>

    <p>LA TIENDA otorga a HORTOSABOR una autorización gratuita y sin límite temporal para publicar y/o adaptar las
      imágenes incluidas en sus publicaciones con fines de clasificación de productos en todos sus sitios, redes
      sociales y/o por cualquier medio que utilice para comunicación.</p>

    <p>En caso que se infrinja cualquiera de las disposiciones establecidas en esta cláusula, HORTOSABOR podrá editar el
      espacio, solicitar a la TIENDA que lo edite, o dar de baja la publicación donde se encuentre la infracción, sin
      autorización alguna y/o consentimiento y/o información previa y/o sin notificación y/o sin lugar a fundamento
      alguno.</p>

    <p>La baja de cualquier publicación no podrá ser objeto de protesta alguna por la TIENDA, y sin derecho a reclamo
      indemnizatorios.</p>

    <h5>FACTURACIÓN</h5>

    <p>La respectiva Tienda que vende el producto será la exclusiva responsable y encargada de cobrar y emitir el ticket
      fiscal o factura respecto de cada venta que realice, en cumplimiento de la normativa fiscal vigente. La factura
      deberá emitirse en todos los casos (aun cuando la Aplicación introduzca descuentos y/o promociones) por el importe
      total del precio de la venta y en el momento de la entrega del producto o pago del precio por parte del Usuario
      final, lo que sea anterior.</p>

    <h5>ALCANCE TERRITORIAL</h5>

    <p>Los productos ofrecidos por las Tiendas en la Aplicación estarán disponibles para su compra y entrega en la
      Ciudad Autónoma de Buenos Aires, GBA.</p>

    <h5>PROCEDIMIENTO PARA EFECTUAR COMPRAS ONLINE CON ENTREGA A DOMICILIO</h5>

    <p>Para hacer compras a través de la Aplicación, el Usuario deberá seguir los pasos que se describen a continuación:
    </p>

    <p>Ingresar los datos de la ubicación geográfica/domicilio de entrega. Seleccionar los productos que se desee
      comprar y agregarlos al “carro de compras”;</p>

    <p>Seleccionar la opción de pago habilitada en la Aplicación.</p>

    <p>El Usuario tiene que confirmar que todos los datos del pedido, dirección de entrega, método de pago son
      correctos.</p>

    <p>El Usuario recibe una confirmación de que la Tienda aceptó el pedido.</p>
    <p>El Usuario recibe una notificación a través de la Aplicación indicando que el pedido ha sido asignado a un
      repartidor.</p>

    <p>El Usuario recibirá luego otra notificación cuando el pedido está en camino.</p>
    <p>Luego de recibida esta notificación el pedido no puede cancelarse.</p>

    <p>La Tienda, a través de su repartidor, entrega la mercadería en el domicilio proporcionado por el Usuario. De no
      encontrarse el Usuario en el domicilio al momento de la entrega la Tienda se comunicará con el Usuario al teléfono
      suministrado. De no ser posible contactarse el Usuario, el pedido será cancelado.</p>

    <h5>CANCELACIÓN DEL PEDIDO</h5>

    <p>El Usuario tiene derecho a cancelar el pedido antes de recibir la confirmación de haber sido el pedido despachado
      por la Tienda.</p>

    <h5>MEDIOS DE PAGO</h5>

    <p>La Aplicación listará los medios de pagos habilitados a tal efecto. En caso de medios de pagos operados por
      terceros, el Usuario deberá consultar, y acepta que resultarán aplicables, los términos y condiciones de dicha
      plataforma. En caso de abonar en efectivo, el Usuario deberá entregar los importes informados al momento de
      recibir el producto.</p>

    <h5>DISPONIBILIDAD DE LA APLICACIÓN</h5>

    <p>El Usuario comprende y acepta que la Aplicación puede no siempre estar disponible debido a dificultades técnicas
      o fallas de Internet, o por cualquier otro motivo ajeno a HORTOSABOR, y que HORTOSABOR, MAGNIFRESH y las Tiendas
      no serán responsables por ello.</p>

    <h5>MODIFICACIONES A LA APLICACIÓN</h5>

    <p>MAGNIFRESH podrá agregar funciones o funcionalidades, mejorar, cambiar o modificar la Aplicación en cualquier
      momento a su exclusivo criterio, procurando notificar dichas modificaciones a las Tiendas.</p>

    <h5>RESPONSABILIDAD</h5>

    <p>MAGNIFRESH por medio de HORTOSABOR sólo pone a disposición de los Usuarios un espacio virtual que les permite
      ponerse en comunicación mediante Internet para encontrar una forma de vender o comprar bienes permitidos e
      identificados al inicio del presente. MAGNIFRESH S.A. y/u HORTOSABOR no es el propietario de los artículos
      ofrecidos, no tiene posesión de ellos ni los ofrece en venta. MAGNIFRESH S.A. y/u HORTOSABOR no interviene en el
      perfeccionamiento de las operaciones realizadas entre los Usuarios ni en las condiciones por ellos estipuladas
      para las mismas, por ello no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o
      legitimidad de los bienes ofrecidos, adquiridos o enajenados por los Usuarios, así como de la capacidad para
      contratar de los Usuarios o de la veracidad de los Datos Personales por ellos ingresados. Cada Usuario conoce y
      acepta ser el exclusivo responsable por los artículos que publica para su venta y por las ofertas y/o compras que
      realiza.</p>

    <p>Debido a que MAGNIFRESH S.A. y/u HORTOSABOR no tiene ninguna participación durante todo el tiempo en que el
      artículo se publica para la venta, ni en la posterior negociación y perfeccionamiento del contrato definitivo
      entre las partes, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios
      en el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios
      o terceros lo hace bajo su propio riesgo. En ningún caso MAGNIFRESH S.A. y/u HORTOSABOR será responsable por lucro
      cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones
      realizadas o no realizadas por artículos publicados a través de HORTOSABOR.</p>

    <p>MAGNIGFRESH S.A. y/u HORTOSABOR recomienda actuar con prudencia y sentido común al momento de realizar
      operaciones con otros Usuarios. El Usuario debe tener presentes, además, los riesgos de contratar con menores o
      con personas que se valgan de una identidad falsa. </p>

    <p>MAGNIFRESH S.A. y/u HORTOSABOR NO será responsable por la realización de ofertas y/o operaciones con otros
      Usuarios basadas en la confianza depositada en el sistema o los Servicios brindados por HORTOSABOR.</p>

    <p>En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u
      otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos o acciones eximen de toda
      responsabilidad a MAGNIFRESH S.A. y/u HORTOSABOR y a sus directores, gerentes, empleados, agentes, operarios,
      representantes y apoderados. </p>

    <p>Los Usuarios tienen un plazo de 15 días desde la compra para iniciar un reclamo contra otro u otros Usuarios. Una
      vez vencido este plazo, no podrán iniciar un reclamo desde el sitio de HORTOSABOR.</p>

    <h5>ALCANCE DE LOS SERVICIOS DE HORTOSABOR.</h5>

    <p>Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre MAGNIFRESH
      S.A. y/u HORTOSABOR y el usuario. El usuario reconoce y acepta que MAGNIFRESH S.A. y/u HORTOSABOR no es parte en
      ninguna operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los artículos anunciados, la
      veracidad o exactitud de los anuncios, la capacidad de los Usuarios para vender o comprar artículos. </p>

    <p>MAGNIFRESH S.A. y/u HORTOSABOR no puede asegurar que un usuario completará una operación ni podrá verificar la
      identidad o datos personales ingresados por los usuarios. MAGNIFRESH S.A. y/u HORTOSABOR no garantiza la veracidad
      de la publicidad de terceros que aparezca en el sitio y no será responsable por la correspondencia o contratos que
      el usuario celebre con dichos terceros o con otros usuarios.</p>

      <h5>POLÍTICAS DE SEGURIDAD Y PROTECCIÓN DE DATOS PERSONALES</h5>
    

      <p>MAGNIFRESH con domicilio en Echeverría 1515, piso 12, Ciudad Autónoma de Buenos Aires, respeta el derecho de
        los Usuarios de esta Aplicación a la protección de sus Datos Personales, los cuales están amparados por la Ley
        de Protección de Datos Personales N° 25.326. Los Datos Personales se procesarán y almacenarán en servidores o
        medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Dicha
        base de datos es administrada por MAGNIFRESH y se encuentra debidamente registrada. Sus datos sólo serán
        utilizados a los efectos de perfeccionar este contrato, concretar las transacciones en la Aplicación, validar
        los pedidos, recibir pagos, recibir información sobre promociones y otros productos al momento de la
        registración, mejorar la labor de información y comercialización de los productos ofrecidos y generar
        información agregada no individualizable a favor de terceros. Se acepta expresamente la cesión de los Datos
        Personales a las Tiendas a los efectos del envío de los productos y su facturación. El Usuario acepta
        expresamente la cesión de los Datos Personales y de su historial de compras a los fabricantes de los productos a
        los efectos de su procesamiento. La inexactitud o falsedad de los datos suministrados por el Usuario, o la
        ausencia de alguno de ellos, invalidarán su derecho a reclamar por cualquier error o perjuicio relacionado a la
        entrega. El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en
        forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto
        conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326. La AGENCIA DE ACCESO A LA INFORMACIÓN
        PÚBLICA, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se
        interpongan con relación al incumplimiento de las normas sobre protección de datos personales. El Usuario que
        desee suprimir o conocer los datos personales que constan en la misma, actualizarlos o rectificar errores, o
        bien solicitar el cese de envío de los correos electrónicos, deberá enviar un e- mail a la siguiente dirección
        de correo electrónico “clientes@hortosabor.com.ar” o bien haciendo click en el botón de “Unsuscribe” al momento
        de recibir un correo. La solicitud se tramitará dentro del plazo de 10 días corridos. Para mayor información
        consulte la Política de Privacidad de HORTOSABOR vigente en www.hortosabor.com.ar la que se incorpora al
        presente documento por referencia. HORTOSABOR podrá modificar su Política de Privacidad periódicamente y tales
        modificaciones estarán vigentes según se estipule en la Política de Privacidad.</p>

      <h5>PROPIEDAD INTELECTUAL</h5>

      <p>El Usuario reconoce y acepta que la Aplicación, así como todos sus contenidos (tale como textos, material
        gráfico, íconos de botones, códigos fuente, y compilaciones de datos), es un producto de propiedad de MAGNIFRESH
        S.A. y/o sus Afiliadas (“HORTOSABOR”), protegido por patentes, leyes de derechos de autor y tratados
        internacionales. Asimismo, reconoce y acepta que todos los derechos, títulos e intereses asociados a la
        Aplicación, incluyendo derechos de propiedad intelectual asociados y todas las mejoras, modificaciones,
        revisiones, trabajos derivados, ingeniería no recurrente, el producto de tareas de personalización e
        integración, las opiniones y sugerencias de clientes y aplicaciones de marcas blancas, son y seguirán siendo la
        propiedad única y exclusiva de HORTOSABOR. Estos Términos y Condiciones y los derechos otorgados en el presente
        no le transfieren ningún derecho sobre la Aplicación. Los materiales gráficos, logotipos, encabezados de
        páginas, frases publicitarias, textos escritos incluidos en la Aplicación son marcas comerciales, creaciones o
        imágenes comerciales de propiedad de HORTOSABOR. Dichas marcas, creaciones e imágenes comerciales no se pueden
        usar en relación a ningún producto que pueda causar confusión entre los clientes y en ninguna forma que
        desprestigie o desacredite a HORTOSABOR o alguna de sus compañías afiliadas y/o relacionadas. Ningún producto o
        imagen pueden ser reproducidos, duplicados, copiados, vendidos, revendidos, visitados o explotados para ningún
        fin, en todo o en parte, sin el consentimiento escrito previo de HORTOSABOR, sin perjuicio de las excepciones
        expresamente señaladas en la ley. HORTOSABOR es marca registrada de HORTOSABOR.</p>

      <h5>RESTRICCIONES DE USO</h5>

      <p>Las siguientes restricciones se aplicarán al uso de la Aplicación. El incumplimiento de dichas restricciones
        constituirá un incumplimiento de estos Términos y Condiciones. El Usuario se abstendrá de: (a) crear un
        navegador, marco, contexto o Interfaz Gráfica de Usuario (GUI) en la Aplicación o el sitio web; (b) interferir o
        tratar de interferir y de interrumpir o tratar de interrumpir el funcionamiento de la Aplicación; (c) interferir
        o tratar de interferir, de violar los derechos de terceros a la privacidad u otros derechos, de recoger o
        recopilar datos e información sobre Usuarios sin el consentimiento expreso de los mismos, sea en forma manual o
        utilizando un robot, araña, programa de búsqueda o recuperación, o cualquier otro dispositivo o proceso
        automático para acceder a la Aplicación, aplicaciones, sitios web, servidores o bases de datos y/o recuperar
        índice de información y/o extracción de datos; (d) hacerse pasar o tratar de hacerse pasar por otra persona o
        entidad o suministrar información personal falsa o engañosa; (e) transmitir o de otro modo poner a disposición a
        través de la Aplicación o en conexión con la misma cualquier virus, "gusano”, "troyano", "bomba de tiempo", "web
        bug", programa espía (spyware), o cualquier código informático, archivo, aplicación o programa que sea malicioso
        por naturaleza o defectuoso, y pueda, o intente dañar o piratear el funcionamiento de cualquier hardware,
        software o equipo de telecomunicaciones, o cualquier otro código o componente real o potencialmente dañino,
        perjudicial o invasivo; (f) utilizar la Aplicación con fines ilícitos, ilegales o no autorizados; y (g) acceder
        a la Aplicación para crear un producto o servicio competitivo.</p>

      <h5>RESPONSABILIDADES. INDEMNIDAD</h5>

      <p>En atención a que el uso de la Aplicación es gratuito y a que MAGNIFRESH se limita a poner a disposición un
        medio para que se unan los Usuarios y las Tiendas, HORTOSABOR, MAGNIFRESH, sus afiliadas, directores, gerentes,
        empleados y subcontratistas no asumirán responsabilidad alguna frente a las Tiendas, los Usuarios, los
        repartidores o cualquier tercero, incluyendo sin limitación, por: (a) cualquier daño o perjuicio derivado del
        mal uso de la Aplicación; (b) la calidad de los productos disponibles en la Aplicación; (c) el cumplimiento por
        parte de cada Tienda en la calidad, cantidad y tiempo de entrega de los pedidos efectuados por los Usuarios; (d)
        las diferencias de precio que pudieran existir entre lo publicado en la Aplicación y lo efectivamente facturado
        por cada Tienda a los Usuarios; (e) el procesamiento y servicios relativos a los medios de pago disponibles en
        HORTOSABOR; (f) cualquier daño, perjuicio o pérdida al Usuario causados por fallas en el sistema, en el servidor
        o en internet; (g) la información publicada por las Tiendas y los Usuarios en la Aplicación, (h) actos o hechos
        ilícitos imputables a, o sufridos por, la Tienda y/o el repartidor o a un tercero que utilice la cuenta de la
        Tienda; e (i) supuestos de fuerza mayor o caso fortuito.</p>

      <p>El Usuario se obliga a mantener indemne a HORTOSABOR, MAGNIFRESH, sus afiliadas, directores, gerentes,
        empleados y subcontratistas de los daños resultantes (incluyendo los costos de defensa) de cualquier
        incumplimiento a los presentes términos y condiciones o de cualquier acto o hecho ilícito imputable al Usuario o
        a un tercero que utilice la cuenta del Usuario.</p>

      <h5>TERMINACION</h5>

      <p>Estos Términos y Condiciones se considerarán aceptados en cuanto usted haga click sobre el botón “ACEPTAR”, y/o
        instale o utilice la Aplicación, y permanecerán vigentes hasta que su cuenta sea cancelada o dada de baja. Los
        Términos y Condiciones y el uso de la Aplicación finalizarán en forma automática en el momento en que MAGNIFRESH
        así lo determine, sin derecho a reclamo o indemnización alguna a favor del Usuario. Atento a la naturaleza
        gratuita de la Aplicación, HORTOSABOR se reserva el derecho de desconectar a un Usuario, sin expresión de causa
        alguna, sin derecho a reclamo o indemnización alguna a favor del Usuario. Sin perjuicio de los otros derechos
        indicados en estos Términos y Condiciones, en caso de incumplimiento por parte del Usuario, MAGNIFRESH podrá
        tomar las acciones que considere apropiadas para lidiar con el incumplimiento, incluyendo sin limitación, la
        baja de la cuenta del Usuario, la suspensión del acceso a la Aplicación, la prohibición de ingreso a la
        Aplicación, bloqueando el dispositivo utilizado por sus direcciones IP para acceder a la Aplicación,
        contactándonos con su proveedor del servicio de internet para solicitar que bloqueen su acceso a la Aplicación
        y/o tomar acciones legales contra usted.</p>

      <h5>MODIFICACIONES A LOS TERMINOS Y CONDICIONES</h5>

      <p>Los Usuarios aceptan y reconocen que MAGNIFRESH podrá modificar estos Términos y Condiciones, en cualquier
        momento, y sin necesidad de aviso previo, por lo que la versión actualizada de los mismos se reputará conocida y
        aceptada por los Usuarios en cada oportunidad que utilicen la Aplicación. La versión actualizada de estos
        Términos y Condiciones se encontrará disponible en la Aplicación, y las modificaciones entrarán en vigencia a
        los 10 (diez) días de su publicación. Dichas modificaciones serán comunicadas por MAGNIFRESH a los Usuarios que
        hayan indicado que desean recibir notificaciones relativas a las modificaciones en los Términos y Condiciones.
        Se recomienda a los Usuarios la revisión de dichos Términos y Condiciones cada vez que utilicen la Aplicación
        dado que el uso de la Aplicación implica su plena aceptación y conocimiento.</p>

      <h5>LEY APLICABLE</h5>

      <p> Los presentes Términos y Condiciones se rigen por las leyes de la República Argentina.</p>

      <h5>NOTIFICACIONES</h5>

      <p> Cualquier duda que los Usuarios puedan tener en relación con a los Términos y Condiciones podrán comunicarse
        al teléfono +54 (3329) 494200. Se fija como domicilio de MAGNIFRESH, Lacarra 213 7mo B, (1407), Ciudad Autónoma
        de Buenos Aires.</p>

  </div>

</ion-content>