<ion-header class="header-top">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title text-left>Products</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search"></ion-icon>
      <ion-icon name="md-more"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="products">
     <div class="search">
      <ion-searchbar placeholder="Search" lines="none"></ion-searchbar>
     </div>
  </div>
  <div class="product-slider">
    <h2>Oranges <b>X 1Kg</b></h2>
        <p>Lorem Ipsum dolar sit amet</p> 
        <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" class="slider-arrow" (click)="slidePrev()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </div>
        <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" class="slider-arrow" (click)="slideNext()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
    <ion-slides [options]="slideOptsOne" #productSlide>

      <ion-slide>        
        <img src="../../assets/images/slide-1.png"/>
      </ion-slide>

      <ion-slide> 
        <img src="../../assets/images/slide-2.png"/>      
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/slide-1.png"/>
        
      </ion-slide>
      <ion-slide>      
        <img src="../../assets/images/slide-2.png"/>       
      </ion-slide>
    </ion-slides>
    
    <div class="price_product">
    <ion-row>
      <ion-col size="6">
         <div class="price text-left">
          <h4>$55.50</h4>
          <p>Lorem Ipsum</p>
         </div>
      </ion-col>
      <ion-col size="6">
        <div class="btn-cart">
        <ion-row>
          <ion-col size="8" text-left class="cart-input">
            <ion-input type="checkbox"></ion-input>
            <img src="../../assets/images/arrow.png" class="arrow"/>
          </ion-col>
          <ion-col size="4" text-right class="ion-cart">
            <ion-icon name="cart"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      </ion-col>
    </ion-row>
    <div class="price-button">
      <ion-row>
        <ion-col size="6" text-left>
          <h3>Total </h3>
        </ion-col>
        <ion-col size="6" text-right>
          <h3><b>$2300.00</b></h3>
        </ion-col>
      </ion-row>
       
    </div>

    <ion-button lines="none" class="cart-buttons" expand="block" fill="outline">SEE CART LIST</ion-button>
  </div>
  </div>
</ion-content>
