<ion-content>
  <div class="calender-section">
    <div (click)="close()"><ion-icon name="close" style="font-size: 26px;"></ion-icon></div>
    <div style="    position: absolute;
    top: 48%;
    left: 4px;
    z-index: 2;
    background: #ffffff;
    line-height: 10px;
    padding: 4px;
    color: #292929;
    text-align: center;
    border-radius: 4px;" class="slider-arrow" (click)="slidePrev($event)">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </div>
    <div style="    position: absolute;
    top: 48%;
    right: 4px;
    z-index: 2;
    background: #ffffff;
    line-height: 10px;
    padding: 4px;
    color: #292929;
    text-align: center;
    border-radius: 4px;" class="slider-arrow" (click)="slideNext($event)">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </div>
    <ion-slides #productdetailSlide [options]="slideOptsOne" >
      <ion-slide *ngFor="let proData of data.images let i =index" >        
        <img  src="{{proData}}"/>
      </ion-slide>
      </ion-slides>
  </div>
</ion-content>
