.product-section{
    position: absolute;
    /* height: 100%; */
    top: 32%;

}

.swiper-slide {
    text-align: center;
    margin-top: 50px;
}
.swiper-slide img {
    width: 90%;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
}
.slider-arrow ion-icon {
    font-size: 26px;
}